{
  "openapi": "3.1.0",
  "info": {
    "title": "Journeye API Doc - OpenAPI 3.1",
    "description": "",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "ohkamisli@poikus.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.11"
  },
  "servers": [
    {
      "url": "https://journeye.poikus.network/api/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Dashboard",
      "description": "Dashboard operations"
    }
  ],
  "paths": {
    "/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get dashboard",
        "operationId": "getDashboard",
        "description": "Get dashboard\n",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BaseResponse"
                    },
                    {
                      "type": "object"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DashboardResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseError": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "BasePagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasNext": {
            "type": "boolean"
          },
          "key": {
            "type": "string"
          }
        }
      },
      "BaseFilter": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "BaseSorting": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "order": {
            "type": "string"
          }
        }
      },
      "BaseResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseError"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/BasePagination"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseFilter"
            }
          },
          "sorting": {
            "$ref": "#/components/schemas/BaseSorting"
          },
          "message": {
            "type": "string"
          },
          "messageCode": {
            "type": "string"
          }
        }
      },
      "DashboardRequest": {
        "required": [
          "lat",
          "lon"
        ],
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lon": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "DashboardResponse": {
        "type": "object",
        "properties": {
          "showableContents": {
            "type": "array",
            "enum": [
              "stamp",
              "event",
              "notice"
            ]
          },
          "notice": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notice"
            }
          },
          "stamps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stamp"
            }
          },
          "history": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccuiredStampHistory"
            }
          }
        }
      },
      "Notice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "Stamp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "lon": {
                "type": "number",
                "format": "double"
              },
              "radius": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AccuiredStampHistory": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Stamp"
          },
          {
            "type": "object"
          },
          {
            "properties": {
              "acquiredAt": {
                "type": "string",
                "format": "date-time"
              },
              "acquiredBy": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ]
      }
    },
    "requestBodies": {
      "DashboardRequest": {
        "description": "Pet object that needs to be added to the store",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DashboardRequest"
            }
          }
        }
      }
    }
  }
}